<!DOCTYPE html>
<html>

<head>
    <style>
        .image-class {
            border-radius: 20px;
            max-width: 100%;
            height: auto;
        }

        .doctor-image {
            max-width: 50%;
            height: auto;
            border-radius: 10px;
        }

        body {
            background-image: url('bgg.jpeg');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: rgba(255, 255, 255, 0.7);
        }

        body,
        h1, h2, h3, h4, h5, h6 {
            color: white !important;
        }
    </style>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Fetal Health Analysis</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item mx-3"><a class="nav-link active" aria-current="page" href="index.html">Home</a></li>
                        <li class="nav-item mx-3"><a class="nav-link" href="About.html">About</a></li>
                        <li class="nav-item mx-3"><a class="nav-link" href="About.html">Technologies</a></li>
                        <li class="nav-item mx-3"><a class="nav-link" href="About.html">Contact us</a></li>
                        <li class="nav-item mx-3"><a class="nav-link" href="About.html">Help Line</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <br/>
        <br/>
    </div>

    <center>
        <h1>Predicted condition is : </h1>

        {%if data == 1%}
        <h2>Normal</h2>
        <img src='NORMAL.png' class='image-class'>
        <br>
        <br>
        <h3>The Fetal health is Normal</h3>
        <br>
        {%elif data == 2%}
        <h2>Suspect</h2>
        <div class="d-flex flex-row justify-content-center">
            <div>
                <img src='Suspect.png' class='image-class'>
                <br>
                <h3>The Fetal health is Pathological,<br> you must consider consulting a doctor</h3>
            </div>
            <div class="ml-4">
                <img src='femaldoc copy.png' class='doctor-image'><br>
                <h5>
                    Name: Dr.Namisha Jain<br>
                    Email: Namisha j@gmail.com<br>
                    Contact: +91 7016465159<br>
                    Specialization: Md. Obstetrics & Gynaecology, MBBS<br>
                </h5>
            </div>
        </div>
        <br>
        <br>
        {%elif data == 3%}
        <h2>Pathological</h2>
        <div class="d-flex flex-row justify-content-center">
            <div>
                <img src='Pathological.png' class='image-class'>
                <br/>
                <h3>The Fetal health is Pathological, <br>you must consider consulting a doctor</h3>
            </div>
            <div class="ml-4">
                <img src='femaldoc copy.png' class='doctor-image'><br>
                <h5>
                    Name: Dr.Namisha Jain<br>
                    Email: Namisha j@gmail.com<br>
                    Contact: +91 7016465159<br>
                    Specialization: Md. Obstetrics & Gynaecology, MBBS<br>
                </h5>
            </div>
        </div>

        {%endif%}

        <br><br>
    </center>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
